*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-all{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-img{
  height: 50%;
  width: 65%;
  background-color:cadetblue;
  position: relative;
}

.btn{
  position: absolute;
  transform: translate(-50%,-50%);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  z-index: 999;
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.btn:active{
  background-color: rgba(255, 255, 255, 1);
  
}

.btn.top{

  top: 5%;
  left: 50%;
  margin-top: 10px;
}

.btn.down{
  top: 95%;
  left: 50%;
  margin-bottom: 10px;
}

.dnone{
  display: none;
}


.dblock{
  display: block;
}

.img-all{
  height: 100%;
  width: 100%;
}

.pic{
height: 100%;
width: 100%;
object-fit: cover;
display: none;
}


.active{
  display: block;
}
